<div class="columns is-centered">
  <div class="column is-one-third">

    <turbo-frame id="notifications">
      <% if flash[:alert] %>
        <div class="notification is-danger mb-4">
          <%= button_to '', dismiss_notification_path, method: :post, params: { type: 'alert' }, class: 'delete is-pulled-right', data: { turbo_frame: 'notifications' } %>
          <%= flash[:alert] %>
        </div>
      <% end %>
      <% if flash[:notice] %>
        <div class="notification is-success mb-4">
          <%= button_to '', dismiss_notification_path, method: :post, params: { type: 'notice' }, class: 'delete is-pulled-right', data: { turbo_frame: 'notifications' } %>
          <%= flash[:notice] %>
        </div>
      <% end %>
    </turbo-frame>

    <div class="box has-shadow-strong">
      <h1 class="title has-text-centered has-text-dark">Вхід в кабінет</h1>
      <%= form_with url: session_path do |form| %>
        <div class="field mb-5">
          <%= form.label :email_address, "Пошта", class: "label" %>
          <div class="control has-icons-left">
            <%= form.email_field :email_address, class: "input is-medium is-primary", required: true, autofocus: true, autocomplete: "username", placeholder: "Введіть ваш email", value: params[:email_address] %>
              <span class="icon is-left has-text-primary">
                <i class="fas fa-envelope is"></i>
              </span>
          </div>
        </div>

        <div class="field">
          <%= form.label :password, "Пароль", class: "label" %>
          <div class="control has-icons-left">
            <%= form.password_field :password, class: "input is-medium is-primary", required: true, autocomplete: "current-password", placeholder: "Введіть ваш пароль", maxlength: 72 %>
              <span class="icon is-left has-text-primary">
                <i class="fas fa-lock"></i>
              </span>
          </div>
        </div>

        <div class="field">
          <div class="control has-text-centered">
            <%= form.submit "Увійти", class: "button is-primary is-medium is-fullwidth" %>
          </div>
        </div>

        <div class="has-text-centered mt-4">
          <%= link_to "Забули пароль?", new_password_path, class: "is-size-6 has-text-grey" %>
        </div>
      <% end %>
    </div>

  </div>
</div>
