<div class="columns is-gap-1">
  <div class="column is-narrow has-border-right">
    <%= render "layouts/sidebar" %>
  </div>
  <div class="column">
    <div class="field is-grouped">
      <p class="control">
        <input class="input" type="text" placeholder="Пошук...">
      </p>

      <p class="control">
        <button class="button is-link is-inverted">
          <span class="icon">
            <i class="fa-solid fa-magnifying-glass"></i>
          </span>
        </button>
      </p>

      <p class="control">
        <%= link_to new_author_path, class: "button is-primary" do %>
          <span class="icon is-small">
            <i class="fa-solid fa-user-plus"></i>
          </span>
          <span>Додати автора</span>
        <% end %>
      </p>
    </div>
    <table class="table is-fullwidth is-hoverable is-narrow">
      <thead>
        <tr>
          <th>id</th>
          <th>Автор</th>
          <th>Пошта</th>
          <th>ІПН</th>
          <th>Додано</th>
          <th>Дії</th>
        </tr>
      </thead>
      <tbody>
        <% @authors.each do |author| %>
          <tr>
            <td><%= author.id %></td>
            <td class="has-text-link"><%= author.name %></td>
            <td><%= author.email_address %></td>
            <td><%= author.code %></td>
            <td><%= author.created_at.strftime("%Y/%m/%d") %></td>
            <td>
              <div class="level mt-0 mb-0">
                <div class="level-left">
                  <div class="level-item">
                    <%= link_to edit_author_path(author), class: "has-text-dark", title: "Редагувати" do %>
                      <span class="icon is-small">
                        <i class="fas fa-edit" aria-hidden="true"></i>
                      </span>
                    <% end %>
                  </div>
                  <div class="level-item">
                    <a
                      href="#"
                      class="has-text-dark modal-trigger"
                      title="Видалити"
                      data-target="delete-author-modal-<%= author.id %>"
                    >
                      <span class="icon is-small">
                        <i class="fas fa-trash-alt" aria-hidden="true"></i>
                      </span>
                    </a>
                  </div>
                </div>
              </div>

              <div id="delete-author-modal-<%= author.id %>" class="modal">
                <div class="modal-background"></div>
                <div class="modal-card">
                  <header class="modal-card-head">
                    <p class="modal-card-title">Підтвердіть видалення автора</p>
                    <button
                      class="delete"
                      aria-label="Close the modal"
                      onclick="this.closest('.modal').classList.remove('is-active')"
                    ></button>
                  </header>

                  <section class="modal-card-body">
                    Ви впевнені, що хочете видалити автора
                    <strong><%= author.name %></strong>
                    ?
                  </section>

                  <footer class="modal-card-foot">
                    <div class="buttons">
                      <%= button_to "Так, видалити",
                      author_path(author),
                      method: :delete,
                      class: "button is-danger",
                      data: {
                        confirm: "Ви впевнені?",
                      } %>
                      <button
                        class="button"
                        onclick="this.closest('.modal').classList.remove('is-active')"
                      >
                        Скасувати
                      </button>
                    </div>
                  </footer>
                </div>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
