<section class="section">
  <div class="container">
    <h1 class="title">Новий автор</h1>

    <%= form_with model: @author, local: true do |form| %>
      <div class="field">
        <%= form.label :name, class: "label" %>
        <div class="control">
          <%= form.text_field :name, class: "input", placeholder: "Імʼя" %>
        </div>
      </div>

      <div class="field">
        <%= form.label :email_address, "Електронна пошта", class: "label" %>
        <div class="control">
          <%= form.email_field :email_address, class: "input", placeholder: "email@example.com" %>
        </div>
      </div>

      <div class="field">
        <%= form.label :code, "Код", class: "label" %>
        <div class="control">
          <%= form.text_field :code, class: "input", placeholder: "Код автора" %>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <%= form.submit "Створити автора", class: "button is-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</section>
