<%= turbo_frame_tag "documents_table" do %>
  <div class="table-container">
    <%= form_with url: bulk_action_documents_path, method: :post, local: true do %>
      <%= hidden_field_tag 'q[s]', params.dig(:q, :s) if params.dig(:q, :s) %>
      <%= turbo_frame_tag "modal" %>
      <nav class="level">
        <div class="level-left">
          <div class="level-item">
            <%= link_to new_document_path, class: "button is-primary", data: { turbo: false } do %>
              <span class="icon is-small">
                <i class="fa-solid fa-arrow-up-from-bracket"></i>
              </span>
              <span>Завантажити документи</span>
            <% end %>
          </div>
          <div class="level-item">
            <%= link_to confirm_bulk_destroy_documents_path(selected_count: "SELECTED_COUNT"),
              class: "button is-danger disabled", title: "Видалити обрані",
              data: { 
                turbo_frame: "modal",
                turbo_prefetch: "false",
                checkbox_target: "deleteButton",
                action: "click->checkbox#preventIfDisabled"
              } do %>
              <span class="icon is-small">
                <i class="fas fa-trash" aria-hidden="true"></i>
              </span>
              <span>Видалити обрані</span>
            <% end %>
          </div>
        </div>

        <div class="level-left">
          <div class="level-item">
            <p class="subtitle is-6">
              <span class="tag is-info is-light">
                Документів обрано:
                <strong><span id="selected-count" data-checkbox-target="selectedCount">0</span></strong>
              </span>
            </p>
          </div>
        </div>
      </nav>

      <table class="table is-fullwidth is-hoverable is-narrow">
        <thead>
          <tr class="is-size-6">
            <th>
              <%= check_box_tag "select_all_documents", "", false, 
                id: "select-all-documents",
                data: { checkbox_target: "selectAll", action: "change->checkbox#toggleAll" } %>
            </th>
            <th>
              <%= sort_link(@q, :title, "Назва", class: "has-text-black") %>
            </th>
            <th>
              <%= sort_link(@q, :status, "Статус", class: "has-text-black") %>
            </th>
            <th>
              <%= sort_link(@q, :author_name, "Автор", class: "has-text-black") %>
            </th>
            <th>
              <%= sort_link(@q, :extracted_code, "ІПН", class: "has-text-black") %>
            </th>
            <th>
              <%= sort_link(@q, :uploaded_by_name, "Завантажив", class: "has-text-black") %>
            </th>
            <th>
              <%= sort_link(@q, :created_at, "Додано", class: "has-text-black") %>
            </th>
            <th>
              <%= sort_link(@q, :signed_at, "Підписано", class: "has-text-black") %>
            </th>
            <th>Дії</th>
          </tr>
        </thead>
        <tbody>
          <% documents.each do |doc| %>
            <tr class="<%= 'has-background-warning-light' if doc.status == 'unlinked' %>">
              <td>
                <%= check_box_tag "document_ids[]", doc.id, false, class: "document-checkbox",
                  data: { checkbox_target: "checkbox", action: "change->checkbox#updateCounter" } %>
              </td>
              <td>
                <%= link_to doc.file.filename, rails_blob_url(doc.file, disposition: 'attachment') if doc.file.attached? %>
              </td>
              <td>
                <span class="tag <%= status_tag_class(doc.status) %> has-text-dark"><%= doc.status_label %></span>
              </td>
              <td><%= doc.author&.name %></td>
              <td><%= doc.extracted_code %></td>
              <td><%= doc.uploaded_by&.name %></td>
              <td><%= doc.created_at.strftime("%Y/%m/%d") %></td>
              <td><%= doc.signed_at&.strftime("%Y/%m/%d") %></td>
              <td>
                <div class="level mt-0 mb-0">
                  <div class="level-left">
                    <div class="level-item">
                      <% if doc.file.attached? %>
                        <%= link_to rails_blob_path(doc.file, disposition: "attachment"), class: "has-text-dark", title: "Завантажити" do %>
                          <span class="icon is-small">
                            <i class="fas fa-download" aria-hidden="true"></i>
                          </span>
                        <% end %>
                      <% end %>
                    </div>

                    <div class="level-item">
                      <%= link_to edit_document_path(doc), class: "has-text-dark", title: "Редагувати", data: { turbo: false } do %>
                        <span class="icon is-small">
                          <i class="fas fa-edit" aria-hidden="true"></i>
                        </span>
                      <% end %>
                    </div>

                    <div class="level-item">
                      <%= link_to confirm_destroy_document_path(doc),
                      class: "has-text-dark", 
                      title: "Видалити",
                      data: { turbo_frame: "modal", turbo_prefetch: "false" } do %>
                        <span class="icon is-small">
                          <i class="fas fa-trash" aria-hidden="true"></i>
                        </span>
                      <% end %>
                    </div>

                    <div class="level-item">
                      <% if doc.status == 'linked' %>
                        <%= link_to confirm_send_for_signature_document_path(doc),
                        class: "button is-link is-small", 
                        title: "Відправити на підпис автору",
                        data: { turbo_frame: "modal", turbo_prefetch: "false" } do %>
                          <span class="icon">
                            <i class="fa-solid fa-paper-plane"></i>
                          </span>
                          <span>Відправити</span>
                        <% end %>
                      <% end %>
                    </div>

                    <div class="level-item">
                      <% if doc.status == 'unlinked' %>
                        <%= link_to edit_document_path(doc), 
                        class: "button is-warning is-small", 
                        title: "Прив'язати автора",
                        data: { turbo: false } do %>
                          <span class="icon">
                            <i class="fas fa-link"></i>
                          </span>
                          <span>Прив'язати</span>
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>

  <% if documents.empty? %>
    <p>Документи не знайдено.</p>
  <% else %>
    <% if pagy && pagy.pages > 1 %>
      <%== pagy_nav(pagy) %>
    <% end %>
  <% end %>
<% end %>
