<%# <% @created.each do |doc| %>

%>

<%#   <%= turbo_stream.prepend "documents_table_body", %>

<%#         partial: "documents/document", %>

<%#         locals: { doc: doc } %>

%>

<%# <% end %>

%>

<%#  %>

<%# <% if @errors.present? %>

%>

<%#   <%= turbo_stream.replace "flash", %>

<%#         partial: "shared/flash", %>

<%#         locals: { alert: @errors.join("<br>").html_safe } %>

%>

<%# <% else %>

%>

<%#   <%= turbo_stream.replace "flash", %>

<%#         partial: "shared/flash", %>

<%#         locals: { notice: "Документи завантажені." } %>

%>

<%# <% end %>

%>

<%#  %>

<%# <%= turbo_stream.update "upload-modal" do %>

%>

<%#   <div id="upload-modal" class="modal" data-controller="modal"> %>

<%#     <div class="modal-background" data-action="click->modal#close"></div> %>

<%#     <div class="modal-card"> %>

<%#       <header class="modal-card-head"> %>

<%#         <p class="modal-card-title">Завантаження документів</p> %>

<%#         <button class="delete" aria-label="close" data-action="click->modal#close"></button> %>

<%#       </header> %>

<%#       <section class="modal-card-body"> %>

<%#         <%= form_with model: Document.new, url: documents_path, html: { multipart: true } do |f| %>

%>

<%#           <div class="field"> %>

<%#             <label class="label">Виберіть файли</label> %>

<%#             <div class="control"> %>

<%#               <%= f.file_field :files, multiple: true, class: "input", required: true %>

%>

<%#             </div> %>

<%#           </div> %>

<%#       </section> %>

<%#       <footer class="modal-card-foot"> %>

<%#           <%= f.submit "Завантажити", class: "button is-success" %>

%>

<%#           <button type="button" class="button" data-action="click->modal#close">Скасувати</button> %>

<%#         <% end %>

%>

<%#       </footer> %>

<%#     </div> %>

<%#   </div> %>

<%# <% end %>

%>
