<div class="columns is-gap-1">
  <div class="column is-2 has-border-right">
    <%= render "layouts/sidebar" %>
  </div>
  <div class="column">
    <div class="field is-grouped">
      <div class="control">
        <input class="input" type="text" placeholder="Поиск...">
      </div>
      <div class="control">
        <button class="button is-primary">Найти</button>
      </div>
      <div class="control">
        <%= link_to "Загрузить документы", new_document_path, class: "button is-primary" %>
      </div>
    </div>
    <div class="mb-4">
      <%= link_to "Всі", documents_path, class: "button is-small #{'is-link' if params[:status].blank?}" %>
      <%= link_to "З клієнтом", documents_path(status: 'linked'), class: "button is-small #{'is-link' if params[:status] == 'linked'}" %>
      <%= link_to "Без клієнта", documents_path(status: 'unlinked'), class: "button is-small #{'is-link' if params[:status] == 'unlinked'}" %>
    </div>
    <table class="table is-fullwidth is-striped is-hoverable">
      <thead>
        <tr>
          <th class="has-text-grey">Назва</th>
          <th class="has-text-grey">Опис</th>
          <th class="has-text-grey">Статус</th>
          <th class="has-text-grey">Клієнт</th>
          <th class="has-text-grey">Завантажив</th>
          <th class="has-text-grey">Додано</th>
          <th class="has-text-grey">Підписано</th>
          <th class="has-text-grey">Дії</th>
        </tr>
      </thead>
      <tbody>
        <% @documents.each do |doc| %>
          <tr class="<%= 'has-background-warning-light' if doc.status == 'unlinked' %>">
            <td><%= doc.title.presence || (doc.file.attached? ? doc.file.filename : '-') %></td>
            <td><%= doc.description.presence || '-' %></td>
            <td><%= doc.status %></td>
            <td><%= doc.client&.name || '❌ Не знайдено' %></td>
            <td><%= doc.uploaded_by&.name || '-' %></td>
            <td><%= doc.created_at.strftime("%Y-%m-%d %H:%M") %></td>
            <td><%= doc.signed_at&.strftime("%Y-%m-%d %H:%M") || '-' %></td>
            <td>
              <%= link_to "Відкрити", document_path(doc), class: "button is-small is-info" %>
              <% if doc.file.attached? %>
                <%= link_to "Завантажити", rails_blob_path(doc.file, disposition: "attachment"), class: "button is-small is-secondary" %>
              <% end %>
              <%= link_to "Редагувати", edit_document_path(doc), class: "button is-small is-warning" %>
              <% if doc.status == "linked" %>
                <%= link_to "Відправити на підпис", send_to_client_document_path(doc), method: :patch, data: { confirm: "Відправити на підпис?" }, class: "button is-small is-primary" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
