<h1>New document</h1>

<%= form_with model: @document do |form| %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>
  <div>
    <%= form.label :client_code, "Client Code" %>
    <%= form.text_field :client_code %>
  </div>
  <div>
    <%= form.label :file %>
    <%= form.file_field :file %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>

<%= link_to "Cancel", documents_path %>
